
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" />

<!-- questa parte andrebbe nel nuovo componente e poi riportata qui. Per far comunicare i due componenti avremo utilizzato @Input di isLiked e @Input di likesCount -->

<span class="glyphicon glyphicon-heart" 
[class.glyphicon-heart]="tweet.isLiked"
[class.glyphicon-heart-empty]="!tweet.isLiked" 
(click)= "onClick()"></span>
<span class="counter"> {{tweet.likesCount}} </span>


